.myheader{
    text-align:center;
    background-color:white;
}
.prof-pic{
    border-radius:50%;
}
#about{
    background-color:lightblue;
}
.carousel-item {
 height:500px;
 text-align:center;
}

.item1{
   background-color:pink;
}
.item2{
background-color:lime;
}
.item3{
  background-color:yellow;
}
